body {
    font-family: "Roboto", sans-serif;
    padding-top: 50px;
    background: #000;
    color: #efc9a0;
}

.navbar-inverse {
    background-color: #2a2f34;
    border-color: #121319;
    border-radius: 0;
    -webkit-box-shadow: 0px -1px 8px 3px rgba(18,19,25,1);
    -moz-box-shadow: 0px -1px 8px 3px rgba(18,19,25,1);
    box-shadow: 0px -1px 8px 3px rgba(18,19,25,1);
}

.navbar-inverse .navbar-nav > li > a {
    color: #00B6FF;
    border-style: none solid;
    border-width: 1px;
    border-color: #33373b;
}

.navbar-inverse .navbar-brand {
    padding-left: 60px;
    background: transparent url(../img/logo.png) scroll no-repeat left center;
    font-family: "Frijole", cursive;
    font-size: 25px;
    color: #00B6FF;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fffff2;
    background-image: url(../img/logo-hover.png);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #343434;
    color: #fffff2;
}


footer hr {
    border-top-color: #20140b;
    border-top-width: 2px;
    margin: 10px 0;
}

footer h4 {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    color: #70523d;
    margin: 0;
}

footer ul li,
footer ul li a {
    color: #552c09;
    font-size: 13px;
    font-weight: normal;
}

footer h4,
footer ul li {
    cursor: pointer;
}


footer h4:hover,
footer ul li:hover,
footer ul li a:hover{
    color: #f5ebd1;
}

footer h6 {
    color: #433a2e;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
}